security/src/org/psygrid/security/resource/wsdl/secure-service-example.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="secureserviceexample"
	targetNamespace="http://www.psygrid.org/xml/security/secure-service-example/service"
	xmlns:tns="http://www.psygrid.org/xml/security/secure-service-example/service"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:intf="http://www.psygrid.org/xml/security/secure-service-example/service"
	xmlns:types="http://www.psygrid.org/xml/security/secure-service-example/service/types"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:ds="http://www.w3.org/2000/09/xmldsig#">

	<!-- <xsd:import namespace="http://www.w3.org/2000/09/xmldsig#"
		schemaLocation="xmldsig-core-schema.xsd"  /> -->
	<types>
		<xsd:schema
			targetNamespace="http://www.psygrid.org/xml/security/secure-service-example/service/types"
			elementFormDefault="qualified" attributeFormDefault="qualified"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			xmlns:ds="http://www.w3.org/2000/09/xmldsig#"
			xmlns="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://www.w3.org/2000/09/xmldsig#"
				schemaLocation="./xmldsig-core-schema.xsd" />

			<xsd:element name="InputFault" type="xsd:string" />
			<xsd:element name="ProcessingFault" type="xsd:string" />
			<xsd:element name="NotAuthorisedFault" type="xsd:string" />

			<xsd:element name="exampleMethodResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="OperationResult"
							type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="exampleMethod">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="project" type="xsd:string"
							minOccurs="1" />
						<xsd:element name="SAMLAssertion" type="xsd:string"
							minOccurs="1" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</types>
	
	<wsdl:message name="NotAuthorisedFaultMessage">
		<part name="FaultDiagnostic" element="types:NotAuthorisedFault" />
	</wsdl:message>

	<wsdl:message name="InputFaultMessage">
		<part name="FaultDiagnostic" element="types:InputFault" />
	</wsdl:message>

	<wsdl:message name="ProcessingFaultMessage">
		<part name="FaultDiagnostic" element="types:ProcessingFault" />
	</wsdl:message>


    <wsdl:message name="exampleMethodInput" >
		<wsdl:part name="input" element="types:exampleMethod" />
	</wsdl:message>
	<wsdl:message name="exampleMethodOutput">
		<wsdl:part name="output" element="types:exampleMethodResponse" />
	</wsdl:message>
	
	
	<wsdl:portType name="SecureServiceExamplePortType">
		<wsdl:operation name="exampleMethod">
			<wsdl:input message="intf:exampleMethodInput"/>
			<wsdl:output message="intf:exampleMethodOutput" />
			<fault name="NotAuthorisedFault"
				message="intf:NotAuthorisedFaultMessage" />
			<fault name="ProcessingFault"
				message="intf:ProcessingFaultMessage" />
		</wsdl:operation>
	</wsdl:portType>
    	
	<wsdl:binding name="SecureServiceExamplePortTypeSOAPBinding"
		type="tns:SecureServiceExamplePortType">
		<documentation>
			SOAP Binding for the SecureServiceExamplePortType
		</documentation>
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="exampleMethod">
			<soap:operation
				soapAction="SecureServiceExamplePortType#exampleMethod"/>
			<input >
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="NotAuthorisedFault">
				<soap:fault
					namespace="http://www.psygrid.org/xml/security/secure-service-example/service"
					use="literal" name="NotAuthorisedFault" />
			</fault>
			<fault name="ProcessingFault">
				<soap:fault
					namespace="http://www.psygrid.org/xml/security/secure-service-example/service"
					use="literal" name="ProcessingFault" />
			</fault>
		</wsdl:operation>
	</wsdl:binding>
	
	<wsdl:service name="SecureServiceExampleService">
		<wsdl:port name="SecureServiceExamplePortTypeSOAPPort"
			binding="tns:SecureServiceExamplePortTypeSOAPBinding">
			<soap:address location="http://localhost" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>

